<a href="https://colab.research.google.com/github/HarikaSatti06112001/Data-Mining/blob/main/cmpe255_apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#frequent pattern mining Apriori Algorithm

In [68]:
# Importing libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [69]:
# data Initialization
apriori_data = [['Tommy', 'Ben', 'Joe', 'John', 'Alex', 'Charles'],
           ['John', 'Tommy', 'Charles', 'Joe', 'Emily', 'Anna'],
           ['Ben', 'John', 'Tommy', 'Joe'],
           ['John', 'Alex', 'Joe', 'Tommy', 'Charles'],
           ['Ben', 'Alex', 'Chris', 'Tommy', 'Anna', 'Emily']]

In [70]:
#data transformation
data1 = TransactionEncoder()
transformed_apriori_data = data1.fit(apriori_data).transform(apriori_data)
apriori_result = pd.DataFrame(transformed_apriori_data, columns=data1.columns_)
apriori_result

    Alex   Anna    Ben  Charles  Chris  Emily    Joe   John  Tommy
0   True  False   True     True  False  False   True   True   True
1  False   True  False     True  False   True   True   True   True
2  False  False   True    False  False  False   True   True   True
3   True  False  False     True  False  False   True   True   True
4   True   True   True    False   True   True  False  False   True

In [71]:
#importing apriori
from mlxtend.frequent_patterns import apriori
apriori(apriori_result, min_support=0.3)

    support         itemsets
0       0.6              (0)
1       0.4              (1)
2       0.6              (2)
3       0.6              (3)
4       0.4              (5)
5       0.8              (6)
6       0.8              (7)
7       1.0              (8)
8       0.4           (0, 2)
9       0.4           (0, 3)
10      0.4           (0, 6)
11      0.4           (0, 7)
12      0.6           (0, 8)
13      0.4           (1, 5)
14      0.4           (8, 1)
15      0.4           (2, 6)
16      0.4           (2, 7)
17      0.6           (8, 2)
18      0.6           (3, 6)
19      0.6           (3, 7)
20      0.6           (8, 3)
21      0.4           (8, 5)
22      0.8           (6, 7)
23      0.8           (8, 6)
24      0.8           (8, 7)
25      0.4        (0, 8, 2)
26      0.4        (0, 3, 6)
27      0.4        (0, 3, 7)
28      0.4        (0, 8, 3)
29      0.4        (0, 6, 7)
30      0.4        (0, 8, 6)
31      0.4        (0, 8, 7)
32      0.4        (8, 1, 5)
33      0.4        (2, 6, 7)
34      0.4        (8, 2, 6)
35      0.4        (8, 2, 7)
36      0.6        (3, 6, 7)
37      0.6        (8, 3, 6)
38      0.6        (8, 3, 7)
39      0.8        (8, 6, 7)
40      0.4     (0, 3, 6, 7)
41      0.4     (0, 8, 3, 6)
42      0.4     (0, 8, 3, 7)
43      0.4     (0, 8, 6, 7)
44      0.4     (8, 2, 6, 7)
45      0.6     (8, 3, 6, 7)
46      0.4  (0, 3, 6, 7, 8)

In [72]:
apriori(apriori_result, min_support=0.7, use_colnames=True)

   support            itemsets
0      0.8               (Joe)
1      0.8              (John)
2      1.0             (Tommy)
3      0.8         (Joe, John)
4      0.8        (Joe, Tommy)
5      0.8       (John, Tommy)
6      0.8  (Joe, John, Tommy)

## `Another Method

In [73]:
!pip install mlxtend --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.21.0)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.2.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)

In [74]:
# Importing libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [75]:
# data
apriori_Gdata = pd.read_csv("/content/Groceries_dataset.csv")
apriori_Gdata.itemDescription = ["".join(i.split(",")) for i in apriori_Gdata.itemDescription]
apriori_Gorder = apriori_Gdata.Member_number.unique()

In [76]:
# Transforming the data
apriori_trans = [apriori_Gdata[apriori_Gdata.Member_number == i]["itemDescription"].tolist() for i in apriori_Gorder]
apriori_encoder = TransactionEncoder().fit(apriori_trans)
apriori_trans = apriori_encoder.transform(apriori_trans)
apriori_trans = pd.DataFrame(apriori_trans,columns=apriori_encoder.columns_)

In [77]:
# Applying apriori algorithm
freq_apriori = apriori(apriori_trans,min_support=0.0095,use_colnames=True)

# Applying association rules
apriori_association_data = association_rules(freq_apriori,metric="confidence")
for item in apriori_association_data.iterrows():
  print(f"Rule {item[0] + 1}: {tuple(item[1].antecedents)} -> {tuple(item[1].consequents)}")

# FP-Growth Algorithm

## `Method 1`

In [78]:
!pip install mlxtend --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.21.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.2.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)

In [79]:
# Importing the libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [84]:
# Initializing the data
fpgrowth_data = [['Tommy', 'Ben', 'Joe', 'John', 'Alex', 'Charles'],
           ['John', 'Tommy', 'Charles', 'Joe', 'Emily', 'Anna'],
           ['Ben', 'John', 'Tommy', 'Joe'],
           ['John', 'Alex', 'Joe', 'Tommy', 'Charles'],
           ['Ben', 'Alex', 'Chris', 'Tommy', 'Anna', 'Emily']]

In [81]:
# Transforming the data
new_data = TransactionEncoder()
transformed_fpgrowth_data = new_data.fit(fpgrowth_data).transform(fpgrowth_data)
fpgrowth_result = pd.DataFrame(transformed_fpgrowth_data, columns=new_data.columns_)
fpgrowth_result

    Alex   Anna    Ben  Charles  Chris  Emily    Joe   John  Tommy
0   True  False   True     True  False  False   True   True   True
1  False   True  False     True  False   True   True   True   True
2  False  False   True    False  False  False   True   True   True
3   True  False  False     True  False  False   True   True   True
4   True   True   True    False   True   True  False  False   True

In [98]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth_data[0]

['Tommy', 'Ben', 'Joe', 'John', 'Alex', 'Charles']

In [ ]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(fpgrowth_result, min_support=0.7, use_colnames=True)

In [ ]:
# Importing the libraries
from mlxtend.frequent_patterns import fpgrowth,association_rules

In [99]:
# Loading the data
fp_data = pd.read_csv("/content/Groceries_dataset.csv")
fp_data.itemDescription = ["".join(i.split(",")) for i in fp_data.itemDescription]
fp_order = fp_data.Member_number.unique()